:root{
    --negro     : black;
    --blanco    : white;
    --gris      : darkgrey;
    --negroclaro: #1D1D19;
    --border    : #00000050;

    --tipoppal  : 'Open Sans', sans-serif;

}

*{
    margin:0px;
    padding:0px;
    border:0px;
    box-sizing: border-box;
}

a{
    display: block;
    color:inherit;
    text-decoration: none;
}
p a{ display: inline-flex; }

img{
    width: 100%;
    display: block;
    object-fit: cover;
}
li{ list-style-type: none;}

body{
    min-height: 200vh;
    font-size: 100%;
    font-family: var(--tipoppal);
    color: var(--negro);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .17em;
    background-color:var(--blanco);
}

.cabecera{
    width:100%;
    background-color: var(--blanco);
    padding: .5em 0;
    
     
}
.centrado{
    width: 85%;
    margin: auto;

    font-weight: 600;
    letter-spacing: 0.14em;
    font-size: .96em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
}

.logo{
    width: 100%;
    max-width: 5.57em;    
}

.menu .a:hover{
    color: var(--gris);
 }
.menu .asub:hover{
     color: var(--gris);
}
.centrado .fa-bars{
    display: none;
}
.menu .a{
    margin: 0 0 0 24px; 
}


.nav{
    width: calc( 90% - 9em );
    margin-right: 2.5em;
}
.nav .menu{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: initial;
}

.item1{
    position:relative;
    padding: 2.7em 0;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;
}

.item1 .submenu1{
    position:absolute;
    width: 170%;
    color: var(--blanco);
    margin-top: 15em;
    padding: 1em;
    background-color: var(--negroclaro);
    text-align: left;
    opacity: 0;
    transform: translateY(10%);
    transition: all .4s ease;
    pointer-events: none;
    
    
}
.item1 .lisub{
    width: 100%;
    margin: 5px 0; 
}
.item1:hover .submenu1{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%);
}


.item2{
    position:relative;
    padding: 2.7em 0;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;
}
.item2 .submenu2{
    position:absolute;
    width: 180%;
    color: var(--blanco);
    margin-top: 8em;
    padding: 1em;
    background-color: var(--negroclaro );
    text-align: left;
    opacity: 0;
    transform: translateY(10%);
    transition: all .4s ease;
    pointer-events: none;
}
.item2 .lisub{
    width: 100%;
    margin: 5px 0; 
}
.item2:hover .submenu2{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%);
}


.item3{
    position:relative;
    padding: 2.7em 0;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;
}
.item3 .submenu3{
    position:absolute;
    width: 200%;
    color: var(--blanco);
    margin-top: 11.5em;
    padding: 1em;
    background-color: var(--negroclaro );
    text-align: left;
    opacity: 0;
    transform: translateY(10%);
    transition: all .4s ease;
    pointer-events: none;
}
.item3 .lisub{
    width: 100%;
    margin: 5px 0; 
}
.item3:hover .submenu3{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%);
}


.item4{
    position:relative;
    padding: 2.7em 0;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;
}
.item4 .submenu4{
    position:absolute;
    width: 315%;
    color: var(--blanco);
    margin-top: 11.5em;
    padding: 1em;
    background-color: var(--negroclaro );
    text-align: left;
    opacity: 0;
    transform: translateY(10%);
    transition: all .4s ease;
    pointer-events: none;
}
.item4 .lisub{
    width: 100%;
    margin: 5px 0; 
}
.item4:hover .submenu4{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%);
}


.item5{
    position:relative;
    padding: 2.7em 0;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;
}
.item5 .submenu5{
    position:absolute;
    width: 230%;
    color: var(--blanco);
    margin-top: 16.5em;
    padding: 1em;
    background-color: var(--negroclaro );
    text-align: left;
    opacity: 0;
    transform: translateY(10%);
    transition: all .4s ease;
    pointer-events: none;
}
.item5 .lisub{
    width: 100%;
    margin: 5px 0; 
}
.item5:hover .submenu5{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%);
}




.imagensoul {
    width: 100%;
    min-height: 100vh;
    
    background-image: url(../assets/img/fondosoul.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
.logosoul{
    width: 90%;
    max-width: 760px;
    min-height: 50px;

    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}

.columnas{
    width:100%;
    padding: 20vh 0;
}
.columnas .centrado{
    width: 85%;
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
}
.columnas .centrado .columna{
    width: calc( 100% / 3 - 40px );
}
.columnas .centrado .columna .imagen{
    width:100%;
    min-height: 200px;
    margin-bottom: 40px;
}

.columnas .centrado .columna .texto{
    width: 100%;
    margin-top: 40px;
    font-weight: 700;
    font-size: .905em;
}


.footer{
    width: 100%;
    min-height: 300px;
    font-size: 1em;
    letter-spacing: .2em;
    margin-top: 30px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.footer .rrss{
    width: 100%;
    min-height: 50px;
    font-size: .8em;

    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
.footer .rrss:hover{
    color: var(--gris);
}

.footer .rrss .red-social{
    /* width: calc (100% / 4 ); */
    min-height: 50px;
    padding: 10px;
}
.footer .rrss .red-social:hover{
    color: var(--negro);
}

.footer .rrss .red-social .fab{
    font-size: 2em;
}


.footer .links{
    width: 50%;
    min-height: 50px;
    margin: 25px auto;


    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: initial;
    align-content: center;
}
.footer .links .enlaces{
    min-height: 20px;
    margin: 5px 10px;
    padding: 0 0 .2em;
    color: var( --negro);
    border-bottom:1px solid var(--border );
    font-size: .9em;
}

.footer .links .enlaces:hover{
    color: var(--gris);
}
div.footer div.copy{
    width:50%;
    min-height: 50px;
    
    font-size: .85em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
    
}


@media screen and (max-width:1180px){
    body{
        font-size: 80%;
    }
}
@media screen and (max-width:1024px){
    .columnas .centrado .columna{
        width: 100%;
        margin: 0 0 3em;
    }
}
@media screen and (max-width:1100px){
    .cabecera .centrado .nav{
        display:none;
    }
    .cabecera .centrado .fa-bars{
        display: flex;
        font-size: 1.75em;
    }

}

@media screen and (max-width:890px){
    
    .footer .links .enlaces{
        border-bottom: 0;
    }
}

@media screen and (max-width:480px){
    .footer p.links .enlaces{
        margin: .4em 0;
        font-size: .8em;
    }
}

@media screen and (prefers-color-scheme:dark){
    :root{
        --blanco: black;
        --negro : white;
        --border: white;

    }
    .cabecera .centrado .menu .item1 .submenu1{
        color: white;
    }
    .cabecera .centrado .menu .item2 .submenu2{
        color: white;
    }
    .cabecera .centrado .menu .item3 .submenu3{
        color: white;
    }
    .cabecera .centrado .menu .item4 .submenu4{
        color: white;
    }
    .cabecera .centrado .menu .item5 .submenu5{
        color: white;
    }
}